# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/

# Django specific
*.pot
*.pyc
db.sqlite3
/static/
media/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
